[2020-09-25 10:42] purkhusid opened #7 "Filtering"
Hey, this project looks great! Fills a much needed gap in the Bazel ecosystem. I was looking over the code and I was wondering if there is some nice way to filter targets using `bazel-diff`?

My usecase is that I need to find all our deployment targets that changed by rule kind and also our artifact targets by specific tags.
Is this somehow possible with the current release?

[2020-09-25 12:44] purkhusid opened #8 "Breaks when non-bazel files are included in modified paths"
It seems like the tool silently fails when comparing commits that include files that are not a part of the Bazel workspace.

In my case I had a script in the root of the repo that I changed along with a source file that is tracked by Bazel. When I ran `bazel-diff` with the example script it completed without errors but reported no impacted targets.

[2020-09-25 14:09] tinder-maxwellelliott commented on #7
Hello there @purkhusid! As of right now there is no direct support for this use case _yet_! My best guidance would be to actually parse the impacted targets output of the `bazel-diff`, create a query out of them and write that query to a file. This should be straightforward since the targets are simply newline separated. Then you can run `bazel query --query_file=MY_CUSTOM_QUERY_FILE` to run your

[2020-09-25 14:43] purkhusid commented on #7
@tinder-maxwellelliott I've been testing `bazel-diff` some more and maybe it just makes sense to keep this outside of `bazel-diff`? Like you said I can use `bazel query` to do this. By introducing an API to `bazel-diff` I think it would have to bring something to the table that makes it better than using `bazel query` be it in performance or features. I will see if I hit some pain points when I tr

[2020-09-25 14:46] purkhusid commented on #7
@tinder-maxwellelliott Also one thing that I noticed when using `bazel-diff` is that it does not output the reverse dependencies of the changed targets. Is this a explicit design decision? It's not a big problem but it requires you to run a `bazel query rdeps(...)` query if you want to find out what targets depend on the changed target.

[2020-09-25 14:58] #8 closed

[2020-09-25 15:26] tinder-maxwellelliott commented on #7
I am thinking about this more and I think you are right, I am going to update `impacted-tests` to be `impacted-targets` with a custom option to support querying for tests.

I want to handle this internally since these queries can be massive and we already handle these kinds of massive queries well.

[2020-09-30 19:30] #7 closed

[2020-11-10 03:43] yousseftelda opened #23 "Exitcode is not propagated"
It looks like the exit code is not being propagated correctly, i.e. the tool fails silently with exit 0.
I think the problem is in `main`:
[code]
I assume the fix would be something like:
[code]
Let me know if it is actually an issue as my local setup might be off. If it is an issue I will follow with a PR

[2020-11-10 16:12] #23 closed

[2020-12-07 21:19] JorgeGarciaIrazabal opened #26 "Filter Targets tagged as "manual""
when running the example `bazel-diff-example.sh` on my repository, I also get the targets tagged as `manual`.

Bazel filters them when using wildcard target patters already ([link](https://docs.bazel.build/versions/master/guide.html)) and it would be great to have a configuration so we can filter them automatically with bazel-diff too.

BTW. This tool is great, thank you for open sourcing it 😄

[2020-12-07 22:25] tinder-maxwellelliott commented on #26
@JorgeGarciaIrazabal Thanks for reaching out 😄 ! Glad you enjoy the tool.

What kind of API would you expect to filter out these `manual` targets? Would you pass an additional flag to filter out these targets?

[2020-12-07 22:55] JorgeGarciaIrazabal commented on #26
thank you for replying that fast!

So, in the command `bazel-diff generate-hashes`, maybe adding a `except_manual` flag to make it simple, or adding a `query_except` parameter where users can add more generic filters (for this example: `attr('tags', 'manual', //...)"`).

I would vote for the `query_except` parameter, but I can see users preferring the simplicity of just a flag

Thank you again!

[2020-12-08 18:55] tinder-maxwellelliott commented on #26
I think there could be value in adding a String parameter called `avoid_query`, targets that pass that query are excluded

[2020-12-08 22:16] arc0 opened #27 "Performance issues for large diffs"
In our repo, we have 1000s of generated json files that are not tracked by bazel.

On diffs with ~1000 untracked files we're finding some performance problems stemming from the non-bazel query fix: https://github.com/Tinder/bazel-diff/pull/9.

Moving the partition to 100 improves the performance, but of course the original #8 bug occurs in this situation.

Any thoughts on how to keep the large par

[2020-12-09 15:48] tinder-maxwellelliott commented on #27
Hello @arc0 👋🏻

It seems that Bazel query does return results with a warning when using the `--keep-going` flag, yet Java's `Process` type does not like that this command exits without a success code. I believe we could still capture the output from this command though, even when it fails.

I think that we can fix this by potentially wrapping our query for source files in another shell script that

[2020-12-09 16:28] JorgeGarciaIrazabal commented on #26
yeah, that sounds good

[2020-12-09 18:47] alexeagle opened #29 "RFC: Bazel Query Service"
In the BazelCon talk that inspired this repo, at this timestamp:
https://youtu.be/9Dk7mtIm7_A?t=1875
Benjamin talks about how Dropbox operationalized the bazel-diff tool by hosting it as a service. This issue proposes that we implement such a thing in this repo.

Language: Java, since that's what's already used in this repo

Storage: for the cache behavior, we need to store the hashes.json files a

[2020-12-09 19:11] #26 closed

[2020-12-09 19:20] achew22 commented on #29
As a datum, I had a hallway-con conversation with Benjamin and Armoo (I hope I'm spelling that correct, I never had to write it down before) about this exact behavior. They said that they had a lot of issues with using the Git CLI to get a local checkout of files. Inconsistent checkouts, missing files, leaving files on disk that were deleted in a commit. You might consider using something like [JG

[2020-12-09 19:25] alexeagle commented on #29
Thanks for the tip @achew22 !

[2020-12-09 23:03] arc0 commented on #27
Nice! Thanks @tinder-maxwellelliott - that sounds good. I was also thinking about querying the other way, searching with `kind("source files", ... ` to get the list of tracked files, then filter the files going into the `rdeps` search. Could prevent a lot of unnecessary searches. I've got a draft working on a branch here https://github.com/arc0/bazel-diff/tree/diff-performance. Bit messy convertin

[2020-12-10 10:15] thundergolfer commented on #27
So given we saw 45-1hr runtime (`2923.08s` last time I ran it) on the case with ~1000 untracked JSON files, what's the performance improvement when using https://github.com/arc0/bazel-diff/tree/diff-performance?

[2020-12-10 14:33] tinder-maxwellelliott commented on #27
I will work on trying to get the `--keep-going` approach working and see how that performs with 1000 untracked files. Its a bummer Bazel makes this so hard to do

[2020-12-14 15:48] alexeagle opened #30 "Provide the final shell script as part of distribution"
Right now users copy-paste the `bazel-diff-example.sh` to stitch together the bazel-diff commands. This means users end up modifying and having diverging copies, not able to upstream their improvements to share with other users.

Ideally some "shrink-wrapped" distribution would include the top-level entry point (maybe still using Bash).

[2020-12-14 16:59] alexeagle opened #32 "modified-filepaths output doesn't end with newline"
This means if you pipe the output to `wc -l` you undercount the number of changed files by one. Files ought to end with newline :)

[2020-12-14 18:59] tinder-maxwellelliott commented on #30
I agree that ideally we could share one shell script to rule them all, the blocker here is that I do not know the exact steps required to build any Bazel project. For example, if we have revision A and revision B there may be a core tooling change that happens in B, that may require the developer to run some kind of setup script before we can run bazel-diff on revision B (think installing some com

[2020-12-15 15:42] georgeBacon23 opened #34 "Potential bug in hash function"
In the file TargetHashingClient.java, the function createHashForRule creates a hash for a rule by considering the rule's inputs and if necessary recursively hashing inputs that are rules. A hashmap ruleHashes is used to cache previously computed rule hashes. I think there is a bug here, as at least on my system, the MessageDigest object is reset when .digest() is called. So if the rule is in the c

[2020-12-15 17:05] tinder-maxwellelliott opened #35 "Migrate to JGit instead of using Git via terminal actions"
As per #29 , it appears that one of the larger issues faced when making a Bazel Query service is the interaction with Git. Migrating to [JGit](https://www.eclipse.org/jgit/) should avoid most of these issues.

[2020-12-15 17:11] tinder-maxwellelliott commented on #34
@georgeBacon23 Thanks for reaching out. Do you have a demo project I can test this with? I have not seen this behavior myself.

 Is this the line in question? https://github.com/Tinder/bazel-diff/blob/0f9f17db25446634bb60e8be2c6e644be0b759c9/src/main/java/com/bazel_diff/TargetHashingClient.java#L115? We are simply using `ruleHashes` to avoid recomputing rule hashes that have already been computed,

[2020-12-15 17:58] georgeBacon23 commented on #34
Hi, yes I believe when the method digest() is called on the MessageDigest object, the underlying bytes are reset. So next time it's retrieved you'll get a different result.

![image](https://user-images.githubusercontent.com/67277353/102253131-dd478800-3efe-11eb-9eb1-1cb47cb11711.png)

Sorry I don't have a project to hand that I can share. But I imagine any project with multiple targets which refe

[2020-12-15 18:18] georgeBacon23 commented on #34
I saw it by making a modification like below, where TEST_TARGET is one to look out for and bytesDigestToString is a helper function for printing the digest:

[code]

Also you might see that a lot of targets have the same final hash.

[2020-12-15 21:56] arc0 opened #36 "Logging switch for bazel calls and main"
Our Bazel workspace does a lot of container pre-fetching and other setup tasks. As `bazel-diff` runs silently it is difficult to determine what Bazel is currently running, particularly on large diffs or critical changes.

This is a feature request for a `--verbose` switch that can re-enable Bazel logging for the queries, and just general logging around the stages of `bazel-diff`. Happy to assist!

[2020-12-15 23:05] tinder-maxwellelliott commented on #36
Hello @arc0.

I can easily add the ability to output any running Bazel queries to stdout, enabled with a `--verbose` flag. Let's start this this for now and see what else is required for debugging

[2020-12-16 18:03] tinder-maxwellelliott commented on #34
I have reproduced this issue locally, getting a fix up now

[2020-12-22 01:54] #34 closed

[2020-12-22 18:29] #27 closed

[2020-12-24 19:50] #36 closed

[2020-12-27 20:28] BalestraPatrick opened #40 "Unknown option: '-t'"
Hello!

I'm trying out version 2.0.2 (update: happening also on 2.1.0) but running the provided `bazel-diff-example.sh` causes an error when running the command `$bazel_path run //tools:bazel_diff -- -sh $starting_hashes_json -fh $final_hashes_json -w $workspace_path -b $bazel_path -o $impacted_test_targets_path -t` in our repo.

The errors is a follows:
[code]

All other commands work just fine,

[2020-12-28 10:02] BalestraPatrick commented on #40
Looks like the `-t` option was removed here: https://github.com/Tinder/bazel-diff/commit/e736e3fea2637a7e9d01b6416dd3f0b4fa01b379#diff-d4f1ce5d47a8030ce411c3c38c06b5b26a2b04c5ca919116318148a428dc97e6L144-L145

[2020-12-28 16:59] tinder-maxwellelliott commented on #40
Hello @BalestraPatrick, yes the `-t` flag was removed in favor of the `--avoid-query` flag. You can emulate `-t` behavior by passing `--avoid-query "//... except tests(//...)"`

[2020-12-30 17:00] #40 closed

[2020-12-31 05:14] jonahgeorge commented on #40
@tinder-maxwellelliott I may be misunderstanding the intended usage but the following patch is not working for me. The impacted targets list is correct; however, the impacted test targets is empty. Running `bazel query tests(//...)` works within my project and version 1.2.1 of Bazel-diff also returns the correct results. Would you mind taking a look when you have time?
[code]

[2020-12-31 18:04] tinder-maxwellelliott commented on #40
Fixed in https://github.com/Tinder/bazel-diff/releases/tag/2.1.1

[2021-01-02 17:00] BalestraPatrick opened #42 "Impacted targets always empty"
Hello!

I'm trying out the example script (using the latest version with the fix released in https://github.com/Tinder/bazel-diff/releases/tag/2.1.1), but the `/tmp/`impacted_targets.txt` file is always empty in my case. My test case contains only two commits. So commit A has some changes and commit B has some other changes in another package.

I then run `./bazel-diff-example.sh ~/src/myrepo baze

[2021-01-03 19:38] tinder-maxwellelliott commented on #42
Hello there @BalestraPatrick,

I am having issues replicating this locally, here is the output from me running `bazel-diff` on my local test environment (1 modified file, 1 modified non-Bazel tracked file, impacted file affects a test)

[code]

Some questions:

1. Is the Git repo currently in a clean state and on the starting revision SHA (i.e. not detached)?
2. What is the output from running the

[2021-01-04 00:01] BalestraPatrick commented on #42
@tinder-maxwellelliott Yes, I'm in a clean state. For some reason, it started working now after updating to 2.1.1 (I was on 2.1.0). This shouldn't really matter since I don't think there are changes that could affect this behavior between the two versions, but I'll continue to keep an eye on this issue. Which brings me to an issue I discovered which could be the culprit.

In testing the tool a bit

[2021-01-04 10:45] BalestraPatrick commented on #42
Looks like quoting the filename in the temp file passed as `--query_file` should work around my specific problem. Submitted a fix in #43.

[2021-01-04 20:01] #32 closed

[2021-01-11 13:29] sjoerdvisscher opened #45 "Infinite loop during bazel-diff"
Sorry for this rather useless issue, but maybe it is just enough info to fix the bug. Otherwise feel free to close it.

I hit an infinite loop in bazel-diff, but only on CI, I could not reproduce this locally, hence the minimal information.
CI hanged during this step: `bazel run @bazel_diff//:bazel-diff -- -sh "$starting_hashes_json" -fh "$final_hashes_json" -w "$workspace_path" -b "$bazel_path" -

[2021-01-11 18:02] tinder-maxwellelliott commented on #45
Hello @sjoerdvisscher,

Can you run your command again but pass the `--config=verbose` flag and share what output you can here.

This is the line you need to modify in the example script to get this to work https://github.com/Tinder/bazel-diff/blob/master/bazel-diff-example.sh#L21

[2021-01-12 10:57] sjoerdvisscher commented on #45
Sadly the PR with the issue has been merged after adding the workaround and I was not able to reproduce this by recreating the same PR.

[2021-01-12 16:45] tinder-maxwellelliott commented on #45
Should we close this for now and reopen if you are able to use the `--config=verbose` flag when it happens again?

[2021-01-12 17:25] sjoerdvisscher commented on #45
Will do. 👍

[2021-01-12 17:25] #45 closed

[2021-01-14 13:34] purkhusid opened #46 "Not all changes detected"
I've got the following BUILD.bazel file

[code]
If e.g. change the `download_pkgs` target to download `curl` as well then bazel-diff will not detect the changed targets.

[2021-01-14 13:36] purkhusid commented on #46
I don't have a small repro at the moment but the snippet above should be enough to reproduce. You just have to have rules_docker and
[code]
In your WORKSPACE file

[2021-01-15 18:17] tinder-maxwellelliott commented on #46
@purkhusid Thank you so much for reporting this. I will investigate this issue and update our integration tests to encompass this issue

[2021-01-17 21:16] jonahgeorge opened #47 "feature: experimental_hash_all_targets"
Hey @tinder-maxwellelliott, I encountered an interesting issue which appears to be coming from the hash function. I've put together a small repro below showing that the hashes from `generate-hashes` are not changing even when the source files are changing. Have you seen this before? Based on my understanding of the `rule_implementation_hash` bug, I don't think this is related but my exposure to th

[2021-01-17 23:55] tinder-maxwellelliott commented on #47
Hello @jonahgeorge,

I was actually able to make your example work with the provided example script in the [repo](https://github.com/Tinder/bazel-diff/blob/master/bazel-diff-example.sh)

I have made a fork of your repo above to show how to get this working:

1. Clone down `https://github.com/tinder-maxwellelliott/bazel-diff-repro`
2. cd into the directory, run `git fetch origin modify_go_file && g

[2021-01-18 06:39] jonahgeorge commented on #47
Ah, I think I tracked it down... looking at your script I see that `repro.go` has a new hash in the final hashes output:

[code]
[code]

I was under the assumption that `generate-hashes` would hash all files, all the time, but it appears that it only considers files [passed in via `modifiedFilepaths`](https://github.com/Tinder/bazel-diff/blob/44e11d4ec935997baca3c93810dd4b5fbabb5164/src/main/java/

[2021-01-20 18:50] tinder-maxwellelliott commented on #47
@jonahgeorge I like the idea of allowing users to scan all input files via a flag, what flag name makes sense to you?

[2021-01-20 19:37] tinder-maxwellelliott commented on #46
@purkhusid Does https://github.com/Tinder/bazel-diff/pull/50 represent your situation correctly? It seems like `//:base_packages` is being picked up correctly

[2021-01-20 20:20] jonahgeorge commented on #47
I'd learn towards something like `--experimental_hash_all_targets` until we know for sure this is a good idea

[2021-01-20 20:50] purkhusid commented on #46
@tinder-maxwellelliott I tested this out again on our repo and it was always returning no impacted targets. I then tried it again with the latest master and that seems to work. But the funny thing is that is seems like it's the `bazel-diff-example.sh` script that is making the difference.

If I copy the script from master to the release I'm using (2.1.2) then it also works...

[2021-01-20 21:12] purkhusid commented on #46
As far as I can tell the only change is the the --script_path change

[2021-01-20 21:13] purkhusid commented on #46
I'm trying to see if there might be some hidden errors that bazel-diff is masking. I think it might be worthwhile to output stderr for all the processes that bazel-diff starts

[2021-01-20 23:19] tinder-maxwellelliott commented on #46
I also fixed another bug with spaces in rdeps queries https://github.com/Tinder/bazel-diff/pull/48

[2021-01-20 23:20] tinder-maxwellelliott commented on #46
If you pass `--config=verbose` to your Bazel invocation of `bazel-diff` you will get debug output

[2021-01-20 23:27] purkhusid commented on #46
Yeah, but I tried it with the script on master with Bazel diff v2.1.2 and that worked. I'll try creating a self contained repro tomorrow

[2021-01-20 23:29] #46 closed

[2021-01-21 09:14] purkhusid commented on #46
@tinder-maxwellelliott I tried doing a minimal reproduction but I'm having a hard time doing so. There might be something in my repo that is making this fail. I can't share the code so I'll see if I can figure this out.

[2021-01-21 16:47] tinder-maxwellelliott commented on #46
Thank you @purkhusid . Were you able to get output by adding the `--config=verbose` option?

[2021-01-25 02:49] tinder-maxwellelliott commented on #47
@jonahgeorge can you try out https://github.com/Tinder/bazel-diff/pull/52 locally and see if that works for you?

[2021-01-30 19:53] mattboardman opened #53 "Invalid target throws silent error"
Changing a target name but not updating dependencies to use the new name throws a silent error.

Example

[code]

In the above example `Package A` is now depending on an invalid target after updating the name. This currently throws a silent error and the impacted files output will be blank.

Expected behavior is to throw an error so the user can be aware they have made an invalid change to the dep

[2021-02-01 17:37] tinder-maxwellelliott commented on #47
@jonahgeorge Did this end up working for you?

[2021-02-01 17:37] tinder-maxwellelliott commented on #53
@mattboardman I will be adding a test case to our integration tests today to capture this error. Thank you for reporting this

[2021-02-02 23:30] mattboardman opened #54 "Initial bazel-diff run is resource hungry and time intensive"
I build my projects using Jenkins pipeline jobs executed in fresh containers. Running the bazel-diff tool on a fresh clone of the repo can take an incredibly long time, even when there are 4 cores and 8gb of memory available. Subsequent runs are much faster (almost instantaneous).

Some questions:

* Is this normal behavior?
* what are the benchmarks for bazel-diff?
* Is there anything I can do to

[2021-02-03 00:12] jonahgeorge commented on #47
Unfortunately trying it out of the box with my company's primary monorepo yielded bad results: After 20 minutes the generate-hashes command was still running. I'll try to carve out some time to try on a smaller repo and also investigate whether the hash generation could be parallelized.

[2021-02-03 18:45] tinder-maxwellelliott commented on #47
Thank you @jonahgeorge, Ill admit this is now how we use the tool, we use the `-m` flag to drastically reduce the number of file reads

[2021-02-03 18:50] tinder-maxwellelliott commented on #54
This does not sound like expected behavior, I would expect a run to take minutes at max on a massive repository. Can you try running the example script using the verbose flag enabled to give more insight? https://github.com/Tinder/bazel-diff/blob/master/bazel-diff-example.sh#L22

I can work on creating test harnesses for this. For our repository we can run in order of seconds

See answer to first

[2021-02-03 19:55] mattboardman commented on #54
I cloned the bazel-diff repo and ran the script with the verbose flag on my workspace after I performed a `bazel clean --expunge`. I touched a single BUILD file target between the two commits and nothing else.

The script hung on the rdeps query for >25 minutes (I did not wait to see if it would ever finish)
[code]

[2021-02-08 14:20] BalestraPatrick commented on #54
I'm seeing exactly the same issue. The first time it runs on any of our build agents it takes a long time to complete the `Determining Impacted Targets` step. For me it took almost 5 minutes to complete. After this, `Determining Test Targets` is much faster.

[2021-02-09 17:47] tinder-maxwellelliott commented on #53
Update: I have been playing around locally with possible solutions to this, the issue is that in this scenario changing a `dep`s name does not behave as I would expect. When I run queries on the build graph after the change I see this result for `FOO`

[code]

This is very confusing since this target does not exist in the graph, it seems like Bazel falls back to saying that since it is a listed `d

[2021-02-09 17:49] tinder-maxwellelliott commented on #54
I have some optimizations planned for this and am working on a branch now locally, I hypothesize that in our `rdeps` call we should exclude all external targets since obviously you have no control over those targets

[2021-02-09 18:03] tinder-maxwellelliott commented on #54
Can anybody experiment with this branch and see if it helps? maxwelle/optimize_rdeps

It looks like `rdeps` is the culprit here, in that branch I am trying to optimize it by reducing its search scope

[2021-02-09 18:10] mattboardman commented on #54
I can try it later today and get back to you.

[2021-03-04 17:18] tinder-maxwellelliott commented on #54
I merged #55 , Can you try with that and let me know if performance is any better?

[2021-03-04 17:20] tinder-maxwellelliott commented on #53
@mattboardman I have been talking with others on the Bazel Slack channel and it seems we would need to validate the graph before running bazel-diff, there seems to be no other way of finding these invalid targets. You will need to run something like:

`bazel build --nobuild //... --host_jvm_args -Xmx10240m`

I know that this is not a real solution and is memory constrained. I will need to investig

[2021-03-04 17:21] tinder-maxwellelliott commented on #47
Closing this in favor of #54 , hash all targets was merged in #52

[2021-03-04 17:21] #47 closed

[2021-03-04 17:22] mattboardman commented on #54
Ah I never got back to you! Yes this improved performance thanks for the quick turn around.

[2021-03-04 17:48] tinder-maxwellelliott commented on #54
Is it safe to close this for now? Or are you facing issues still?

[2021-03-04 17:48] mattboardman commented on #54
We can close this. Thank you!

[2021-03-04 18:58] #54 closed

[2021-03-24 20:32] ThomasCJY opened #58 "bazelrc change is not reflected in bazel-diff"
If I change build options (such as how dexing works in android) in my bazelrc file, all affected targets should be rebuild. However, currently, bazel-diff cannot detect this change.

I'm thinking we should add an skip-list which matches the name pattern of changed files and if matches then we'll return all targets.

[2021-03-25 19:00] tinder-maxwellelliott commented on #58
Hello @ThomasCJY and thanks for reporting this. I will work on recreating this locally and add it to our integration tests

[2021-03-28 20:09] hrvolapeter opened #59 "Error uncommitted changes but git showing no changes"
After following the setup guide and adding bazel diff to BUILD file and running `bazel run //:bazel-diff --  modified-filepaths -w . -b $(which bazel)  "HEAD^" HEAD a ` exits with `There are active changes in '.', please commit these changes before running modified-filepaths`, however when running `git status --porcelain` immediately after the error in the same dir the output doesn't show any non-

[2021-03-29 20:42] tinder-maxwellelliott commented on #59
Hello @hrvolapeter. This issue seems hard to diagnose remotely, do you mind making a small demo repo for me to work with?

[2021-04-01 13:45] hrvolapeter commented on #59
Hi @tinder-maxwellelliott, thanks for checking the issue. However it seems like I cannot reproduce the problem anymore. However I think the problem might have been caused by running bazel diff from the workspace it was checking

[2021-04-01 13:45] #59 closed

[2021-04-06 09:21] purkhusid opened #61 "Change in external repo not detected"
I've found a case that bazel-diff does not handle properly and I've got a repro here: https://github.com/purkhusid/bazel-diff-repro

You can check out the repository and run:
[code]
bazel-diff should have marked `//:yo` as changed since it does depend on `@scuttle//:bin` which was changed between commits.

[2021-04-07 16:29] tinder-maxwellelliott commented on #61
Thank you for the detailed example repo and explanation. I will need to investigate why this is happening.

If you want to help in debugging, can I get the `diff` from running this command with each version?

`bazelisk query //external:all-targets --output xml`

[2021-04-08 08:32] purkhusid commented on #61
Final commit:
[code]
Starting commit:
[code]

[2021-04-08 08:33] purkhusid commented on #61
The diff is:

[code]

[2021-04-09 16:03] tinder-maxwellelliott commented on #61
Can we test with this version of Bazel-diff and see if it works? https://github.com/Tinder/bazel-diff/pull/62

[2021-04-09 16:08] tinder-maxwellelliott commented on #58
@ThomasCJY Getting more time to look at this now. Are you imagining we pass a regex into `generate-hashes` and if any of the modified filepaths match that regex then all targets need to be marked as changed?

[2021-04-09 21:18] ThomasCJY commented on #58
I was thinking put all the regex in a file and pass the filename to `generate-hashes`. This option should be used together with `-m, --modifiedFilepaths=<modifiedFilepaths>`

[2021-04-10 09:44] purkhusid commented on #61
This did not work :/

[2021-04-19 04:02] tinder-maxwellelliott commented on #58
@ThomasCJY the more I think about this, why can't we just traverse and read all the bazelrc files? We can SHA the contents of each and then SHA that value with the value from any imported bazelrc files

[2021-04-29 19:48] tinder-maxwellelliott commented on #58
I think its best to simply go back to what you originally suggested and simply accept an array of file path regexes that will be checksummed and included in each files checksum. Reading the bazelrc files is hard to maintain and has edge cases

[2021-05-14 19:52] TimothySeah commented on #7
@tinder-maxwellelliott thanks for making this! I saw your comment on the BazelCon selective testing talk (https://youtu.be/9Dk7mtIm7_A?t=1635) and this implementation is exactly what I was looking for.

However, I have a question about this issue. @purkhusid could you explain which reverse dependencies bazel-diff does not output? Look at the pseudocode at this timestamp of the selective testing ta

[2021-05-14 21:46] tinder-maxwellelliott commented on #7
I am open to moving away from the `rdeps` additional query, but want to hear more from @purkhusid

[2021-05-17 11:41] purkhusid commented on #7
If I remember correctly then the output was only outputting changed targets using the files that are listed by `modified-filepaths`. I think we could skip `rdeps` if you use the `-a` flag that was added not too long ago: https://github.com/Tinder/bazel-diff/pull/52

I wonder if it might just be best to add a flag that disables the `rdeps` query? And maybe just disable the `rdeps` query when using

[2021-05-17 21:40] tinder-maxwellelliott commented on #7
#64 is up

[2021-05-26 20:03] #58 closed

[2021-06-02 01:01] tinder-maxwellelliott commented on #53
I have reproduced this in our build, will continue to investigate when I can

[2021-06-02 01:02] tinder-maxwellelliott commented on #61
Sorry for the late reply, going to work on this issue next

[2021-06-03 08:17] BalestraPatrick opened #68 "Change in rule attribute not detected"
Hello! I've noticed that one type of change isn't detected by bazel-diff. The situation is as follows:
We have a custom rule that has a tool has a default executable attribute that looks something like this.
[code]

I can see in a diff that changes to `//tools/release:ios_release` are correctly identified, but I would expect also all `my_rule` definitions to show up in the diff since they all depe

[2021-06-03 15:45] tinder-maxwellelliott commented on #68
Hello @BalestraPatrick ! Thanks for the report. Do you have a small sample repo I can work with? Makes it easier to debug what is going on.

[2021-06-09 05:10] tinder-maxwellelliott commented on #61
Found the issue, we are looking for a different string:

[code]

yet in the query, we get `@scuttle//:bin`

[code]

[2021-06-09 05:49] tinder-maxwellelliott commented on #61
After #69 I get this when running the provided command:

[code]

[2021-06-09 08:14] BalestraPatrick commented on #68
Hey @tinder-maxwellelliott! I have an example project that tries to reproduce exactly what I'm seeing in my project but the bug isn't reproducible. There must be something slightly different in my project, so I'll have to dig more and see if I can reproduce it fully in the example project.

[2021-06-09 09:09] purkhusid commented on #61
Nice! Thanks for looking into this, the fix looks good to me!

[2021-06-11 14:41] mikberg opened #70 "Adding dependency to WORKSPACE interpreted as changing almost all targets"
Hi!

After upgrading from 2.3.0 to 2.4.0, we encountered an issue where a change to `WORKSPACE` resulted in almost all targets being marked as changed. The change only added a new dependency.

I'm not sure how this could have been introduced by the change set.

Let me know if there are more details I can provide.

[2021-06-11 15:09] tinder-maxwellelliott commented on #70
Hello @mikberg, thanks for reporting the issue. If you have time could you put together a small repo that repros the issue? That really helps me because I can use it in an integration test after the fix is made

[2021-06-11 15:51] mikberg commented on #70
I'll try to reproduce the issue in a shareable repo when I have time :+1:

[2021-06-14 14:01] JaimeLennox opened #71 "Stack overflow error when generating hashes"
Hello!

After updating to 2.4.0, we've started seeing `StackOverflowErrors` when running `generate-hashes` (using modified-filepaths):

[code]

I had a look at the code and saw the recursive call in `createDigestForRule` which seems to be the culprit, however I'm also curious if we might be doing something wrong to get into this state, since I've not seen any complaints of similar issues yet.

Any

[2021-06-14 17:38] tinder-maxwellelliott commented on #70
Thank you!

[2021-06-14 17:39] tinder-maxwellelliott commented on #71
Can you put together a small repo to reproduce the problem? I will also investigate on my side.

Also does it work when you use the `-a` flag on `generate-hashes`?

[2021-06-15 17:28] tinder-maxwellelliott commented on #71
An aside, I am looking at potentially removing the modified file paths flag as it forks the logic pretty significantly. Is that going to be an issue for you in the future @JaimeLennox ?

[2021-06-16 19:18] JaimeLennox commented on #71
Sure, I'll try and put together something, although since I'm not sure what is causing it for our whole monorepo it might take me a while to get a minimal repro 😅

Is it recommended to use `-a` instead of `modified-filepaths`? I was only using that as I thought it would be quicker not to have to hash everything (and `-a` is also marked as experimental).

[2021-06-16 20:45] tinder-maxwellelliott commented on #71
The `-a` flag is no longer experimental, we use it on every Bazel job and its been very stable. Let me know if it either does not work or is unacceptably slower.  Hopefully this can unblock you

[2021-06-24 23:20] tinder-maxwellelliott commented on #53
Potentially `cquery` can fix this, looking into that now

[2021-06-29 21:49] tinder-maxwellelliott commented on #70
@mikberg we haven't see anything on our end that looks like this issue. Unless you can provide an example repo can we close this for now?

[2021-06-29 21:51] mikberg commented on #70
Sorry, I won't be able to work on this for some time. Feel free to close this issue.

[2021-06-29 22:29] #70 closed

[2021-07-01 17:22] tinder-maxwellelliott commented on #71
@JaimeLennox were you able to repro this when using the latest version?

[2021-07-03 08:51] JaimeLennox commented on #71
Unfortunately not - however I did managed to create a repro repo: https://github.com/JaimeLennox/bazel-diff-issue-71

I printed out the rule name that was being recursed into to find out what was going on, and it seems the grpc dependency eventually reaches `//external:libuv`, which for some reason has a dependency on itself, causing the endless recursion.

I've managed to fix this with this chang

[2021-07-03 15:13] tinder-maxwellelliott commented on #71
Thank you so much for the deep investigation. I would definitely accept that pull request

[2021-07-06 02:42] #71 closed

[2021-07-07 22:28] tinder-maxwellelliott commented on #53
@mattboardman I think I have a solution for this here https://github.com/Tinder/bazel-diff/pull/76

[2021-07-15 23:21] #53 closed

[2021-07-21 08:37] tkbrex opened #78 "stackOverflow issue. A fix for the issue 71 fix."
I wonder what is the best way to debug this problem. I think it is because it cannot parse some of the rules and end up in a recursive loop. I want to find out which rule is causing the problem so maybe I can fix the rule.

==========

[2021-07-21T08:14:49Z] Exception in thread "main" java.lang.StackOverflowError
--
  | [2021-07-21T08:14:49Z] 	at java.base/java.util.regex.Pattern$BmpCharProperty.m

[2021-07-24 23:27] tkbrex commented on #78
This is the same as issue 71 ( https://github.com/Tinder/bazel-diff/issues/71 ). Closed

[2021-07-24 23:33] tkbrex commented on #78
issue #71 is fixed but it creates a new problem when inputRule.getName() = null. In the same line, we need to check for inputRUle.getName() == null.

`             if (inputRule != null && inputRule.getName() != null && !inputRule.getName().equals(rule.getName())) {
`

[2021-07-25 17:33] tinder-maxwellelliott commented on #35
No longer valid, we do not perform Git actions internally anymore

[2021-07-25 17:33] #35 closed

[2021-07-25 17:52] #78 closed

[2021-07-27 10:03] zoidbergwill commented on #29
We have some rough hopes of building something similar but much simpler in the future too.

The basic idea we had was whenever calculating hashes for a revision, try fetch it from S3, else generate and store it in S3.

[2021-07-29 16:31] josh-newman opened #81 "Query errors are silently ignored"
Bazel queries are executed by [starting a process and reading the output](https://github.com/Tinder/bazel-diff/blob/bd6d9022ef747a101866159b485ce1c35f69c081/src/main/java/com/bazel_diff/BazelClient.java#L105) but existing code doesn't check for bazel errors. When I ran this in a workspace with some repository rule errors, bazel-diff exited with status 0 (and no error messages) after printing parti

[2021-07-29 18:47] tinder-maxwellelliott commented on #81
Hello there @josh-newman , you can disable this via this flag

[code]

I have make true the default for the existing users, in the future this will flip

[2021-07-29 20:11] josh-newman commented on #81
Wouldn't you still need to check `process.exitValue()` to know there was a bazel error?

[2021-07-29 22:56] tinder-maxwellelliott commented on #81
Let me put together a PR to make sure we are on the same page

[2021-07-30 10:05] mikberg opened #83 "Over-triggering with rules_go and Gazelle under certain circumstances"
This issue is basically a better documented version of #70

Example repository: https://github.com/mikberg/bazel-diff-problem

This repository sets up rules_go with Gazelle, a go binary with an external dependency and some rule which depends on the WORKSPACE file. I think all three are important.

The second commit adds a comment to the WORKSPACE file, demonstrating that any change to WORKSPACE wi

[2021-07-30 15:38] tinder-maxwellelliott commented on #83
Thank you for this great example repo. I will put together an integration test now in a draft PR

[2021-08-02 15:30] tinder-maxwellelliott commented on #83
Alright my PR above captures the issue

[2021-08-09 19:04] KevinJiao opened #86 "Hash all targets has poor performance with rules_pip"
Hi!

When upgrading to `3.0.0`, I'm seeing large performance regressions in "hash all targets" query with my targets that depend on a `rules_pip` generated external dependency. The key appears to be in the `kind('source file',  deps(//...))` query, which is not restricted to internal targets, and therefore will result in downloading every single external dependency and attempting to hash all the s

[2021-08-11 13:36] vcase opened #87 "bazel-diff hangs for projects where bazel query writes warnings to stderr"
For some workspaces, the bazel query executed by bazel-diff results in a number of benign warnings being written to stderr. The code that launches bazel only reads from stdout, ignoring stderr.  As described in the below post, this will cause hangs if the process writes to stderr.

https://stackoverflow.com/a/3285479

I've created a pr to address the issue.  Of course, it needs review from a proje

[2021-08-12 19:02] tinder-maxwellelliott commented on #87
Merged it in! Thanks @vcase

[2021-08-12 19:02] #87 closed

[2021-08-16 23:38] KevinJiao commented on #86
Thanks for the response. Would the latter approach be similar to the previous form? That is, when recursively hashing dependencies, use the file contents as inputs to the hash only if the file target was specified on the commandline.

[2021-08-18 20:16] tinder-maxwellelliott commented on #86
I reached out to the Bazel slack and it appears this kind of query is impossible, external fetches will happen.

I would gladly accept a PR that gives a list of source file targets to use, instead of doing this query

[2021-08-23 00:33] tinder-maxwellelliott commented on #81
Fixed via #89

[2021-08-23 00:33] #81 closed

[2021-08-23 02:08] tinder-maxwellelliott commented on #83
Okay so here is the result of doing the diff manually, somehow all the external targets have changed

[code]

[2021-08-23 03:24] tinder-maxwellelliott commented on #83
@mikberg is there any way to debug the BUILD files that are automatically created for go deps in a Gazelle project? Trying to understand how we are getting differences

[2021-08-23 06:53] mikberg commented on #83
Hmm, you can at least `bazel query @com_github_rs_zerolog//... --output=location` to get the filesystem locations of the BUILD files.

[2021-08-25 12:33] sal-zappa commented on #68
Hey @BalestraPatrick, did you manage to figure this out? I'm having the same issue and I'm not able to reproduce it in a fresh repo.

[2021-08-31 00:56] KevinJiao opened #90 "Dependencies between generated targets sometimes missing"
Hi again,

There's a subtle bug in the way dependencies on generated files are handled in the implementation of https://github.com/Tinder/bazel-diff/pull/82 resulting in missing impacted targets when the generating target is lexicographically before the generated target.

I have an example here (https://github.com/KevinJiao/gen-file-repro) with logs
[code]
Here I would also expect `//:compare_file

[2021-08-31 01:00] KevinJiao commented on #90
I've opened a PR that fixes the issue https://github.com/Tinder/bazel-diff/pull/91, let me know if you'd like any changes.

[2021-08-31 01:10] KevinJiao commented on #86
Thanks for looking into the query with the Bazel team. I took another look at this after some more time with bazel, is it possible to replace the `kind('source file', deps(//...))` query with `kind('source file', //...:all-targets)`?  I believe this query should capture all files tracked in the repository, without requiring a fetch of all external dependencies.

The downside here is that changes i

[2021-08-31 01:37] tinder-maxwellelliott commented on #86
I am fine with `kind('source file', //...:all-targets)`, I think that checksumming the external files is beyond this tool, id image we would pick that up from the rule implementation hash or something else

Did this work for you in your repo? I can put up a branch and try in our repo

[2021-08-31 23:39] KevinJiao commented on #86
This worked for me, let me know how it looks on your end

[2021-09-01 00:35] tinder-maxwellelliott commented on #86
Looking good to me!!! I can make the change

[2021-09-01 15:45] josh-newman commented on #81
Thanks! (Sorry for the delay, I got pulled away to some other things.)

[2021-09-01 20:30] #86 closed

[2021-09-01 21:58] purkhusid commented on #86
Does this change mean that changes to external deps are not detected? E.g. If I change a a Go package version?  If that is the case, then that is a huge downside IMO

[2021-09-01 22:06] tinder-maxwellelliott commented on #86
This is at the source target level, wouldn't that mean you are using unpinned deps if this were to fail?

[2021-09-01 22:58] purkhusid commented on #86
Ok, I'll try this out on my codebase and see if we get some misses when we change 3rdparty deps. If I understand the code correctly I think we should pick up the 3rdparty changes via the rule attributes which are included in the hashes.

[2021-09-01 23:09] tinder-maxwellelliott commented on #86
Really appreciate it @purkhusid , down to rollback if it breaks things but I think these changes will be surfaced somewhere else

[2021-09-03 21:36] KevinJiao commented on #90
Closed by https://github.com/Tinder/bazel-diff/pull/91

[2021-09-03 21:36] #90 closed

[2021-09-13 19:34] ewianda opened #93 "Usage: The use of `//external:` in the list impacted targets"
This is an amazing tool with great potential.

My approach to use this in CI is something along the line of

`bazel test $(cat /tmp/impacted_targets.txt)`

However, I get

[code]
for all `//external/` targets.

Just wondering why we have `//external` in list of impacted targets.

Because my natural next step is to remove all the `//external` targets before invoking bazel.

[2021-09-13 19:39] tinder-maxwellelliott commented on #93
Hello @ewianda , Thanks for the report!

I would always filter the impacted targets returned from this tool when trying do do testing. Bazel-diff is excellent at giving you all impacted targets, you will very likely need to take that list and perform queries on the targets you wish to engage with

[2021-09-13 19:50] ewianda commented on #93
Thanks for the speedy reply.

I have been investigating

https://github.com/bazelbuild/bazel/blob/d96e1cdbe71d117f76e55c668bb4a0f976bf0bc0/scripts/ci/ci.sh

as well.

Seems `bazel-diff` is great replacement for these

https://github.com/bazelbuild/bazel/blob/d96e1cdbe71d117f76e55c668bb4a0f976bf0bc0/scripts/ci/ci.sh#L50-L55

and then rest of the scripts should give you what you want to build/test.

[2021-09-13 20:43] tinder-maxwellelliott commented on #93
That looks correct, bazel-diff is giving you a large list of targets, you should perform a query with that returned list for what you want and act on that

[2021-09-14 18:21] tinder-maxwellelliott commented on #93
Can we close this?

[2021-09-15 02:30] #93 closed

[2021-10-26 09:45] Warchant opened #95 "NPE when -o flag is not provided"
I am getting a NullPointerException when starting hashes and final hashes are same:
UPD: it turned out that NPE is caused by lack of -o flag.
[code]
v3.2.3 - https://github.com/Tinder/bazel-diff/tree/3.2.3

[2021-10-26 10:07] Warchant opened #96 "Generates same hashes"
I have C/C++ project, I do this to run bazel-diff:

1. `bazel build //...` -> builds all files
2. run bazel-diff: `java -jar bazel-diff_deploy.jar generate-hashes -b .\bazel.exe -w C:\project A.txt`
3. change single .c file in a project
4. run bazel-diff: `java -jar bazel-diff_deploy.jar generate-hashes -b .\bazel.exe -w C:\project B.txt`
5. `bazel build //...`  -> this rebuilds this single .c fil

[2021-11-01 18:03] tinder-maxwellelliott commented on #95
Should be a simple enough fix, would certainly welcome any PRs!

[2021-11-01 18:04] tinder-maxwellelliott commented on #96
Hello there,

The best way for me to fix this for everyone is if you could provide a small repo, then I can test my fix in there.

[2021-11-17 01:33] fahhem opened #97 "Memory "leak": Whole source directory is loaded into memory to lazy-generate digests"
`BazelSourceFileTarget`'s constructor loads the entire contents of the given source file, plus some digest, into memory. These contents are only used to later get the SHA256 digest of it, and these objects are kept around presumably for the whole runtime of bazel-diff.

This means that Java needs a heap size >= the size of your source tree. Since only the digest of these contents are needed, we sh

[2021-11-17 02:07] #97 closed

[2021-11-17 02:18] #95 closed

[2021-11-18 17:48] kyle-hiller-nh opened #100 "OutOfMemory Error when constructing hashes"
I'm using bazel-diff 3.3.0 and Bazel 4.2.1. Whenever I run the provided example script over our moderately sized Go repo, the script is able to generate the starting hashes but the second set of hashes generates the following error:

`Exception in thread "main" java.lang.OutOfMemoryError: Java heap space
        at java.base/java.util.Arrays.copyOf(Arrays.java:3536)
        at java.base/java.io.By

[2021-11-18 19:34] tinder-maxwellelliott commented on #100
@fahhem This is interesting, we just merged #97 to fix this?

[2021-11-18 22:17] fahhem commented on #100
Do you have individual files that are very large? #97 decreased the memory footprint for us by 15x, so I'd have to see what your memory usage is now. Can you run the jar with a larger heap and see what you need? Run it with `-Xmx1g -Xms1g` to give it 1 GB of heap

[2022-01-14 14:19] mailto-jonas opened #101 "Change in toolchain definition is not detected?"
Hi!

I am working with a C++ project and wanted to apply `bazel-diff` there. When I do changes in a toolchain definition (e.g. in a typical cc_toolchain_config.bzl file) it seems not to be detected.

Bazel handles toolchain resolution implicit to the target definitions. Could it be that `bazel-diff` misses those dependencies when it runs a normal query? In our project we add toolchains using the c

[2022-01-31 14:27] pmoncadaisla commented on #100
I'm getting the following error:

[code]

which seems different from @kyle-hiller-nh . This one says: `Required array size too large`
I've tried to increase the heap memory with no luck.

[2022-01-31 16:57] fahhem commented on #100
That seems like there's a specific file that's very large, and bazel-diff reads it in one go. Do you have any specifically large files?

[2022-02-10 23:46] kyle-hiller-nh opened #102 "Infinite "loading packages" step"
Hello,

I can't manage to reproduce this locally because it is currently working on my machine, but in our CI/CD pipeline when I'm generating hashes, the command seems to get stuck while loading packages during one of the Bazel queries.

`Loading: 0 packages loaded
Loading: 0 packages loaded
Loading: 0 packages loaded
Loading: 504 packages loaded
    currently loading:
Loading: 504 packages loaded

[2022-03-24 09:54] cristifalcas opened #104 "why the check for ensureAllChangesAreCommitted"
Hi, what is the purpose of checking that all git changes are committed: https://github.com/Tinder/bazel-diff/blob/master/src/main/java/com/bazel_diff/main.java#L128-L136?

For example I usually have extra files in my git repo and because of this the diff fails.

I'm trying to understand if this an artificial limitation, or if it's necessary.

[2022-03-24 16:28] tinder-maxwellelliott commented on #104
I think this logic can be removed, it was due to the initial implementation of bazel-diff

[2022-04-01 03:04] fa93hws opened #106 "Unable to run due to failed to download zlib 1.2.11.tar.gz"
When running `bazel build //:bazel-diff` I got

I've a check it seems there is only https://zlib.net/zlib-1.2.12.tar.gz now and there is no 1.2.11

[2022-04-01 03:19] tinder-maxwellelliott commented on #106
Hello there,

Are you able to build off of this PR https://github.com/Tinder/bazel-diff/pull/105

[2022-04-01 03:24] fa93hws commented on #106
Ah yea that works fine in https://github.com/Tinder/bazel-diff/pull/105.

[2022-04-01 03:25] tinder-maxwellelliott commented on #106
I will merge this soon!

[2022-04-05 00:48] fa93hws opened #107 "[Feature Request] Allow to provide a content hash json file"
## Background
`bazel-diff` is an awesome tool that can help us a lot compared to `bazel query rdeps`. However, we have a very large repo and generating content hash takes ~2 minutes in `bazel-diff`. More than half of the files in our repo is translation file so we can do some trick to it to reduce the hashing time from ~2 minutes to 50 seconds.

## Feature description
We would like to be able to p

[2022-04-06 03:25] tinder-maxwellelliott commented on #104
Logic has been removed

[2022-04-06 03:25] #104 closed

[2022-04-06 03:45] tinder-maxwellelliott commented on #106
Resolved on master

[2022-04-06 03:45] #106 closed

[2022-04-06 07:51] cristifalcas commented on #104
Can you publish a new release, please?

[2022-04-07 00:14] fa93hws commented on #107
https://github.com/Tinder/bazel-diff/pull/110 will resolve this issue btw. Contennt hash time can be reduced to ~10 seconds

[2022-04-07 16:25] tinder-maxwellelliott commented on #100
Should be resolved on master

[2022-04-08 11:46] fa93hws opened #113 "[Performance] Calculating content hash during bazel source file query"
Since we are using `--output streamded_proto`, we should be able to calculating the content hash during the query is happening?
Bazel query is mainly CPU work and content hash is mainly IO work, doing them all together should be helpful to performance?

[2022-04-08 15:10] fa93hws commented on #113
No, I've a try and the improvement is really minimal, like 5%. Not worth to do it.

[2022-04-08 15:10] #113 closed

[2022-04-20 18:58] com6056 commented on #83
This seems to also be impacting us, any debug info I can provide to help figure this out?

[2022-05-17 13:52] tinder-maxwellelliott commented on #102
I believe this was fixed recently, can you try again?

[2022-05-19 21:42] tingilee opened #134 "Transitive dependency of repository rule do not change bazel-diff output hashes"
In this minimal repo https://github.com/tingilee/repro-pip-bazel-diff/, we have found that transitive dependencies in the repository rules do not change the output hashes.

https://github.com/tingilee/repro-pip-bazel-diff/blob/master/BUILD#L15 `:lib` depends on `testcontainers` and `testcontainers` dependent on `wrapt`.

I ran the following at commit https://github.com/tingilee/repro-pip-bazel-dif

[2022-05-19 21:49] alexeagle commented on #134
It seems to me that bazel-diff is relying on the **definition** of a repository rule to understand the dependency graph, rather than the result of **executing** the repository rule. In the case of rules_python, and I imagine many other rulesets, the dependency graph is produced by some code generation inside the repository rule implementation.

Taking this example repro above, we can see that the

[2022-05-20 17:25] illicitonion commented on #134
FWIW this style of issue was one of our motivations for putting together a similar project at https://github.com/bazel-contrib/target-determinator - we put in quite a bit of care to follow deps through repository rules to all affecting files.

I manually tested out the supplied repro, and that implementation detected the change properly.

The target-determinator repo includes a test suite of edge-

[2022-05-29 17:24] bazaglia opened #135 "Filter targets"
I see the `avoid_query` functionality (#26, #28) that allows targets to not be included in the set of targets generated by bazel-diff doesn't exist in the latest release.

I have a use case that I believe to be very usual: I'm specifying the targets that bazel-diff generates to `bazel test` and I don't want Docker-related targets to be built since it's gonna take way too much time.

[2022-06-26 04:28] thirtyseven opened #139 "Add ability to disable warnings"
Some of the warnings being produced right now are not very useful for our project, including warnings about not being able to hash various built-in types that won't affect build output anyway:

[code]

It would be nice if we could turn these off to reduce noise in our CI.

[2022-06-26 18:13] #96 closed

[2022-06-26 18:13] #102 closed

[2022-06-26 18:13] #107 closed

[2022-06-26 18:14] tinder-maxwellelliott commented on #135
Hello @bazaglia,

Can't you take the resulting targets and then perform another query to figure out the final desired set? This is exactly what we do internally

[2022-06-26 18:32] #139 closed

[2022-07-14 16:23] thirtyseven opened #141 ""generator_location" rule param should not be included in hash"
Rules generated by macros will automatically have a param like this:

[code]

This means that the hash of a target generated by a macro will change whenever its line number changes, even if nothing changed that could affect the build. [bazel-contrib/target-determinator](https://github.com/bazel-contrib/target-determinator) currently handles this by [redacting this parameter](https://github.com/baz

[2022-07-21 11:09] mjduijn opened #143 "Add support for bazel query output formats for the get-impacted-targets command output"
In our setup we enable specific CI pipelines depending on the types of targets that were changed. To get this kind of metadata from the output of `bazel-diff get-impacted-targets`, we need to run another set of bazel queries because the list of targets may be too large for a single bazel query. Splitting up one large bazel query into multiple smaller ones is one of the USPs for bazel-diff, and so

[2022-08-01 14:04] tinder-maxwellelliott commented on #143
@mjduijn Thanks for the ticket!

Can't you simply save the output of bazel diff to a file and propagate that through different pipelines? Then you can read that file, mutate a copy of it for the query you need and then use -[-query_file](https://docs.bazel.build/versions/main/command-line-reference.html#flag--query_file)

[2022-08-01 18:39] mjduijn commented on #143
Ha err yeah that works, thanks! I wasn't aware of the argument.

[2022-08-01 18:39] #143 closed

[2022-08-15 13:46] #135 closed

[2022-08-24 13:59] #141 closed

[2022-08-24 17:55] caseyduquettesc opened #145 "Usage instructions aren't accurate since 4.0.6"
The recommended way of using bazel diff doesn't work after 4.0.5 because zip files are being published, but `http_jar` requires jar files.

[code]

[2022-08-24 18:04] tinder-maxwellelliott commented on #145
https://github.com/Tinder/bazel-diff/releases/tag/4.0.8

[2022-08-24 18:04] #145 closed

[2022-08-24 18:05] mmogylenko commented on #145
Thank you!

[2022-08-24 18:08] caseyduquettesc commented on #145
Awesome thanks!

[2022-09-16 16:24] arie-stripe opened #146 "`--version` still says `3.4.0`"
Deploy jar for `4.0.8` still says version is `3.4.0`
[code]

[2022-09-16 17:12] arie-stripe opened #147 "Blocked by transitive dep causing `CircularDependencyException`, while Bazel builds fine"
Transitive dependency causing circular dependency error in `4.0.8`

`//external:lib` is not a target that we define in our repo. It's a transitive dependency from GRPC: https://github.com/grpc/grpc/blob/master/bazel/grpc_deps.bzl#L183-L186

[code]

It says in this PR (https://github.com/Tinder/bazel-diff/pull/138) that dependencies depending on themselves would keep Bazel from building, but that's

[2022-09-19 09:45] 1405942836 opened #148 "Throws an exception when executing Generating Hashes"
`bazel_diff` version: 4.0.8, 4.0.5, 4.0.2
Reference documentation: https://github.com/Tinder/bazel-diff/blob/4.0.8/README.md

Integrate bazel_diff into my own project using the recommended way in README.md, Reference address: https://github.com/Tinder/bazel-diff/blob/4.0.8/README.md#integrate-into-your-project-recommended

![image](https://user-images.githubusercontent.com/41868694/190988101-5b36e

[2022-09-20 19:50] #146 closed

[2022-09-20 20:48] tinder-maxwellelliott commented on #148
Can you test with https://github.com/Tinder/bazel-diff/pull/150?

[2022-09-23 03:21] 1405942836 commented on #148
Yes, but I tested it and found that there will still be the same error in my project.

![image](https://user-images.githubusercontent.com/41868694/191886255-0fbe4b2a-8c9a-46b4-b9e0-be13fe4d4171.png)

[2022-09-26 18:12] #147 closed

[2022-10-04 15:06] sanju-naik opened #151 "How to consume Impacted_targets.txt"
Hi,

I tried running bazel-diff on a sample project using below command
[code]

The output it produces at the end i.e ` /tmp/impacted_targets.txt` contains things such as Info.plist file, .ipa , .swift files etc. I was expecting that this would give me a list of Bazel targets which I can build & test, seems like that's not the case.

Any examples on How to process and extract targets from `impacte

[2022-10-04 16:01] tinder-maxwellelliott commented on #151
Hello there,

I would use [this flag](https://bazel.build/reference/command-line-reference#flag--query_file) and the `bazel query` command to construct a query from the results you receive, you can filter on the impacted list for only the kinds of targets you want. There is no way I can guess at what targets each user is interested in and it is simple enough to construct the query.

[2022-10-04 16:04] #151 closed, assigned to nobody

[2022-10-06 13:31] sanju-naik commented on #151
Hi @tinder-maxwellelliott I played around `bazel query` and tried this approach
[code]
but couldn't get what I want from that file, it basically outputs the same entire contents of the file.

When we are running `bazel query` with this [flag,](https://bazel.build/reference/command-line-reference#flag--query_file) We can't pass the query as well from the terminal as it would allow either of them so

[2022-10-26 18:08] AndrewGuenther opened #152 "generate-hashes outputs hashes for invalid targets"
When I run `generate-hashes` I can see that hashes are output for every target and target output, but also for every source file. This means that when I then call `get-impacted-targets` I get a lot of output that's....not targets. I can filter that output list to only include targets I suppose, but that's definitely not the behavior I was expecting...

A bit more background: We use file globbing i

[2022-10-26 18:21] AndrewGuenther commented on #152
Of course the moment I post an issue I have my "aha" moment. Closing

[2022-10-26 18:21] #152 closed

[2022-11-04 10:22] mvukov opened #153 "Empty output with a change in a local_repository"
Illustrated in https://github.com/oqton/bazel_local_repo. The diff between the first and the second commit is a change in the local Bazel repo. Expected output of bazel-diff (second w.r.t. the first commit) is `//:app`, but the actual output is empty.

[2022-11-15 15:14] cristifalcas commented on #83
I believe we are impacted as well because of this.
Between practically no changes between main and a test branch, we get a diff with hundred of targets

[2022-11-18 20:49] morozov opened #154 "Log messages should be written to STDERR, not STDOUT"
We invoke bazel-diff from within a function that instead of returning the file produced by `get-impacted-targets` echoes it to `STDOUT`. In pseudocode, it looks like this:
[code]

In general, this allows for piping the diff to other commands (e.g. for filtering and sorting) and particularly allows for simpler configuration when bazel-diff runs within a container.

The problem is that the warnings

[2022-11-30 21:53] #154 closed